@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Merriweather:wght@900&family=Montserrat&display=swap');

body> #bg {
    height: 100%;
    width: 100%;
    background-color: rgb(2, 211, 248);
    -webkit-clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 100%, 0 0);
    position: absolute;
}

.navbar-brand{
    color: #000;
}

.nav-link{
    color: #000;
}

h2{
    font-family: 'Goblin One', cursive;
    font-weight: 600;
    font-size: 18px;
}

p{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

